/**Applied Jobs Page Area*/

.Applied_job_table {
  -webkit-box-shadow: -8px 1px 136px -95px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -8px 1px 136px -95px rgba(0, 0, 0, 0.51);
  box-shadow: -8px 1px 136px -95px rgba(0, 0, 0, 0.51);
}

.Applied_job_topic {
  height: fit-content;
  width: 59rem;
  justify-content: left;
  padding: 5px;
  text-align: center;
  text-emphasis: none;
  background-color: rgb(56, 55, 55);
  border-radius: 10px;
  -webkit-box-shadow: 0px 13px 20px -13px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 13px 20px -13px rgba(209, 209, 209, 1);
  box-shadow: 0px 13px 20px -13px rgba(209, 209, 209, 1);
}

.view-profile:hover {
  cursor: pointer;
  color: blue;
}
