*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width:100vw;
    height:100vh;
}
.top{
    width:100vw;
    height:8vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    gap:10px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
}
.btn1,.btn2{
    width:8vw;
    height:6vh;
    margin-right:10px;
    border: none;
    cursor: pointer;
    margin-bottom:4px;
    border-radius: 6px;
}
.btn1:hover{
    background-color: cornflowerblue;
}
.btn2:hover{
    background-color: cornflowerblue;
}

