*{
    padding:0;
    margin:0;
    box-sizing: border-box;   
}
.main{
    width:100vw;
    height:100vh;   
}
.bottom{
    width:100vw;
    height:98vh;
    align-items: center;
    justify-content: center;
    display: flex;    
}
.field{
    width:25vw;
    height:64vh;
    background-color: rgb(208, 228, 248);
    border-radius:10px;  
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;    
} 
.field::-webkit-scrollbar {
    display: none;
}
.in1{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 2%;
    height: 28px;
    margin-left: 50%;
}
.in2{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 10%;
    margin-left: 50%;
    height: 28px;
}
.in3{     
    display: flex;
    padding: 15px;
    width:125px;
    height:6vh;
    font-size: 15px;
    cursor: pointer;
    border:none;
    border-radius: 8px;
    background-color:#537FE7; 
    padding-left:36px;
    padding-bottom: 14px;
    margin-left: -2%; 
}  
.in4{
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 15px;
    width:250px;
    height:6vh;
    cursor:pointer;
    border: none;
    border-radius: 8px;
    background-color: rgb(27, 173, 8);
    margin-top: 4px;
    margin-left: 22%;
    margin-right: 24%;
}
/* .in1{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 2%;
    height: 28px;
    margin-left: 50%;
}
.in2{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 10%;
    margin-left: 50%;
    height: 28px;
} */
.head{
    margin-top: 90px;    
}
.term{
    margin-left:60px;
    margin-top:12px;
    font-weight:lighter;
    font-size:small;
}
.account{
    margin-left: 170px;
    margin-top: 8px;
    font-size:42px;
    color:rgb(38, 35, 35);
}
.loginsym{
    margin-left: 1%;
}
.loginhead{
   
    color: #363737;
    font-family:monospace;
    margin-left: 158px;
    font-size:24px ;
}
input{
    display: block;
    width: 80%;
    padding: 5px;
}
.btnsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px; 
}
 .formlayout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    font-size: medium;
    color: rgb(80, 79, 79);
    font-weight: bold;
    margin-left: -2%;
}
.formlayout input{
    margin-left:4%;
    width: 80%;
} 
label,a{
    padding-left: 15px;    
}
.lab1{
    font-size:medium;
    font-weight: bold;
    color: rgb(80, 79, 79);    
}
.showhide{
    margin-left:260px;
    font-family: monospace;
    color: black;
    font-size: larger;
    margin-top:-72px;
}
.errorMessage{
    color: red;
    font-size:small;
    margin-left:10px;
    margin-top: -4%;
    padding: 3px;
    margin-bottom: -2%;   
}

/* .in1{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 2%;
    height: 28px;
    margin-left: 50%;
}
.in2{
    width: 80%;
    margin-top: -1%;
    margin-bottom: 10%;
    margin-left: 50%;
    height: 28px;
} */
.psd{
    color: rgb(33, 8, 132);
    text-decoration: underline;
    margin-top: -1%;
}
.lab{
    margin-top: 4%;
}