.ant-modal-content {
  padding: 40px 40px 30px 30px !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.AppHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}
.side-menu-layout {
  width: 20%;
}
.page-content-layout {
  width: 80%;
}
.SideMenu {
  width: 20%;
}
aside.ant-layout-sider {
  display: inline-block;
  width: 240px !important;
  min-width: 240px !important;
}
.PageContent {
  min-width: 99.99%;
  padding: 0 5px 10px 10px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
input:disabled {
  background-color: white !important;
  border: none !important;
  font-size: bold !important;
  color: black !important;
}
textarea:disabled {
  background-color: white !important;
  border: none !important;
  font-size: bold !important;
  color: black !important;
  font-weight: 400;
  resize: none;
}
.ant-modal-content {
  padding: 50px !important;
}
