.page {
  margin: 20px;
  margin-top: 5%;
}
.page h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  margin-top: 25px;
  text-align: center;
}
.page p {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 35%;
  font-size: 22px;
  margin-top: 2%;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 16px;
  width: 40%;
  border: 3px solid #ccc;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="email"] {
  padding: 8px;
  margin-bottom: 16px;
  width: 40%;
  border: 3px solid #ccc;
  border-radius: 5px;
}

input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 16px;
  width: 40%;
  border: 3px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  width: 85px;
  margin-left: 18%;
  font-size: 22px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0062cc;
  margin-left: 18%;
}

.page p {
  font-size: 19px;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  margin-left: 25%;
}

@media screen and (max-width: 960px) {
  .page {
    margin: 20px;
    margin-top: 10%;
  }
}
