.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: #222;
  box-shadow: 0 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: -0px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-top: -7%;
}
.navbar-logo img {
  height: 50px;
  width: 80px;
  margin-left: 10px;
  top: 15px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 150px;
  right: 50px;
  margin-right: 0%;
  margin-top: -40px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-right: 0%;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 61px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0px;
    margin-right: 10%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: absolute;
    text-align: center;
    margin-right: 20px;
  }

  .nav-links:hover {
    background-color: #5cabff;
    border-radius: 10px;
    width: 100%;
    padding: 12rem 100 rem;
    margin-left: 65px;
    margin-right: 10%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    margin-top: 0%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -1%;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
