img {
  max-width: 100%;
  display: block;
}

input.registration-input-field {
  appearance: none;
  border-radius: 0;
  width: 350px;
}

.registration-card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.registration-card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.registration-card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}
.registration-card-heading small {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0.25em;
}

.registration-card-form {
  padding: 2rem 1rem 0;
}

.registration-input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  width: 500px;
}
.registration-input + .registration-input {
  margin-top: 1.5rem;
}

.registration-input-label {
  color: #8597a3;
  position: absolute;
  bottom: 20px;
  transition: 0.25s ease;
}
.registration-text-area-label {
  color: #8597a3;
  position: absolute;
  top: 60px;
  transition: 0.25s ease;
}
.registration-input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.registration-input-field:focus,
.registration-input-field:valid {
  outline: 0;
  border-bottom-color: #6658d3;
}
.registration-input-field:focus + .registration-input-label,
.registration-input-field:valid + .registration-input-label {
  color: #6658d3;
  transform: translateY(-52px);
}

.registration-action {
  margin-top: 2rem;
}

.registration-action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.registration-action-button:focus {
  outline: 0;
}

.registration-card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.registration-card-info .registration-terms {
  display: block;
  color: #6658d3;
  text-decoration: none;
}
.registration-text-area {
  width: 350px;
  max-height: 100px;
  background: transparent;
  min-height: 100px;
}
.registration-text-area:focus + .registration-text-area-label,
.registration-text-area:valid + .registration-text-area-label {
  color: #6658d3;
  transform: translateY(-65px);
}
