*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.main{
    width:100vw;
    height:100vh;        
}   
.head{
    margin-top: 50px;              
    right: 20%;   
}
.bottom{
    width:75vw;
    height:94vh;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    margin-left: 12%; 
}
.field{
    width:54vh;
    height:89vh;
    background-color: rgb(208, 228, 248);
    border-radius:10px;    
    overflow: scroll;
    -ms-overflow-style:none;
    scrollbar-width: none;  
    margin-right: 25%;
}
.field::-webkit-scrollbar {
    display: none;
}
.in6{
    display: flex;
    padding: 15px;
    padding-left: 28px;
    width:125px;
    height:6vh;
    font-size: 15px;
    cursor:pointer;
    border:none;
    border-radius: 8px;
    background-color:#537FE7; 
    right: 20%;
    margin-top: 3%;
    padding-top: 10px;
}
.in7{
    display: flex;
    align-items: center;
    font-size:15px;
    padding:25px;
    width:250px;
    height:5vh;
    cursor:pointer;
    border: none;
    border-radius: 8px;
    background-color: rgb(27, 173, 8);
    padding-left: 50px;
    
}
/* .show{
    margin-right: 1px;
    width:6px;
    margin-top: 1px;
    align-items: flex-end;
    justify-content: flex-end;   
} */
.signupaccount{
    margin-left: 180px;
    font-size:40px;
    color:rgb(105, 102, 102);
    margin-top: 6px;    
}
.signhead{
    margin-left:156px;
    color:rgb(39, 37, 37);
    font-family:monospace;
    font-size: 24px;
}
.errorMessage{
    color: red;
    font-size:small;
    margin-left:10px;
    margin-top: -9px;  
}
.formlayout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    font-size: medium;
    color: rgb(80, 79, 79);
    font-weight: bold;    
}
.formlayout input{
    margin-left: 10px;
}
.btnsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;     
}
.signupsym{
    margin-left: 1px;
    margin-top: 0px;
}
.lab{
    font-size:medium;
    color: rgb(80, 79, 79);
    font-weight:bold;
    margin-left: -1%;
    margin-top: -1%;
}
.showhide{
    margin-left:268px;
    margin-top:-68px;
    color: black;
    font-family:monospace;
    font-size:large;   
    margin-bottom: 5%;
}
.showhide1{
    margin-left: 268px;
    margin-top: -42px;
    color: black;
    font-family: monospace;
    font-size: larger;
}
.in1{
    margin-left: 1%;
    width:80%;
    margin-top: -1%;
    height: 28px;
}
.in2{
    margin-left: 1%;
    width: 80%;
    margin-top: -1%;
    height: 28px;
}
.in3{
    margin-left: 1%;
    width: 80%;
    margin-top: -1%;
    height: 28px;
}
.in4{
    margin-left: 1%;
    width: 80%;
    margin-top: -1%;
    margin-bottom: 8%;
    height: 28px;    
}
.in5{
    margin-left: 1%;
    width: 80%;
    margin-top: -1%;
    margin-bottom: 2%;
    height: 28px;
}

