.sidebar {
  min-width: 250px;
  height: 770px;
  min-height: 700px;
  max-height: 700px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-left: 1rem;
  background-image: linear-gradient(269deg, white, gray);
}
.filter-options-menu {
  height: 100vh;
}
