.card-container {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  min-height: 700px;
  max-height: 700px;
  min-width: 900px;
  max-width: 1450px;
  overflow: scroll;
  align-content: flex-start;
  justify-content: center;
  background-color: #d3d3d3c2;
}

.jobcard {
  width: 200px !important;
  box-sizing: content-box;
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  text-align: start;
  font-family: sans-serif;
  border: 1px solid gray;
  background-color: ghostwhite;
}

.jobcard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.company {
  padding-top: 0.5rem;
}

.role {
  padding-top: 0.5rem;
}

.location {
  padding-top: 0.5rem;
}

.requirements {
  font-size: small;
  padding-top: 0.5rem;
}

.viewjob {
  padding-top: 0.5rem;
  text-align: center;
  position: relative;
  bottom: 0;
}
.viewJobDetails:hover {
  cursor: pointer;
  margin: 0;
  position: relative;
  bottom: 0;
}
.viewJobDetails {
  margin: 0;
  color: blue;
  font-size: large;
}
